# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore kernels if they ended up in this directory
kernel-*

# ignore downloaded sources and binaries
build/*
src/
bundler/build/
libseccomp-*
libpcap-*
