compiler = "3.0.0"

[[file]]
  path = "build/linux"
  tags = []

[[file]]
  path = "build/vinitd"
  tags = []

[[file]]
  path = "build/strace"
  tags = ["strace"]

[[file]]
  path = "build/tcpdump"
  tags = ["tcpdump"]

[[file]]
  path = "build/fluent-bit"
  tags = ["logs"]

[[file]]
  path = "build/chronyd"
  tags = ["ntp"]

[[file]]
  path = "build/busybox"
  tags = ["shell"]

[[file]]
  path = "build/busybox-install.sh"
  tags = ["shell"]

[[file]]
  path = "build/libnss_dns.so.2"
  tags = ["logs","ntp"]

[[file]]
  path = "build/libnss_files.so.2"
  tags = ["logs","ntp"]

[[file]]
  path = "build/libresolv.so.2"
  tags = ["logs","ntp"]

[[file]]
  path = "build/flb-in_vdisk.so"
  tags = ["logs"]

[[file]]
  path = "build/bundler"
  tags = []

[[file]]
  path = "build/ld-linux-x86-64.so.2"
  tags = ["logs","ntp"]

[[file]]
  path = "build/libc.so.6"
  tags = ["logs","ntp"]

[[file]]
  path = "build/libdl.so.2"
  tags = ["logs"]

[[file]]
  path = "build/libgcc_s.so.1"
  tags = ["logs"]

[[file]]
  path = "build/libm.so.6"
  tags = ["logs","ntp"]

[[file]]
  path = "build/libpthread.so.0"
  tags = ["logs","ntp"]
